<div class="col">
  <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="border: none;">
    <div id="{{ topicId }}" class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 topic-card" style="cursor: pointer;">
      <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-transform: lowercase;">{{ topicName }}</h3>
      <!-- <ul class="d-flex list-unstyled mt-auto">
        <li class="me-auto">
          <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
            class="rounded-circle border border-white">
        </li>
        <li class="d-flex align-items-center me-3">
          <svg class="bi me-2" width="1em" height="1em">
            <use xlink:href="#geo-fill" />
          </svg>
        </li>
        <li class="d-flex align-items-center">
          <svg class="bi me-2" width="1em" height="1em">
            <use xlink:href="#calendar3" />
          </svg>
          <small>4</small>
        </li>
      </ul> -->
    </div>
  </div>
</div>